<div class="container">  
  <form id="contact" action="" method="post">
    <h3>Criptying</h3>
    <h4>Esta aplicación se encarga de cifrar mensajes que usted requiera por dos metodos, DES y un algoritmo desarrollado por nuestro equipo de trabajo llamado Hillipo</h4>
    <fieldset>
      <textarea placeholder="Escribe tu mensaje aquí (Máximo 500 caracteres)..." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <input placeholder="Escribe tu frase clave..." type="text" tabindex="5" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Tu mensaje cifrado es..." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="mens" type="submit" id="contact-submit" data-submit="...Sending">DES</button>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Hillipo</button>
    </fieldset>
  </form>
 
  
</div>